@import '~node_modules/modern-normalize/modern-normalize.css';

main {
  padding: 20px 0 40px 0;

  @include tablet {
    padding: 40px 0 60px 0;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    width: 768px;
    padding: 0 32px;
  }

  @include pc {
    width: 1280px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
