h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}
