:root {
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --light-text-color: #8c8c8c;
  --dark-text-color: #545454;
  --accent-text-color: #ff6b08;

  --mainBGL: #e5e5e5;
  --lightBG: #f7f7f7;
  --accentBG: #ff6b01;

  --modal-overlay: rgba(0, 0, 0, 0.25);
  --modal-movie-bgc: #ffffff;
  
  --Gap16: 16px;
  --Gap20: 20px;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
