<div class="login-modal__backdrop is-hidden" login-data-modal>
  <!-- is-hidden -->
  <div class="login__modal">
    <div class="login-modal__logo">
      <svg class="login-modal__logo--svg">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <p>Filmoteka</p>
    </div>
    <!-- add logo without link -->
    <button
      login-data-modal-close
      class="login-modal__close-button btn"
      title="Close"
    >
      <svg class="login-modal__svg">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div>
      <p class="login-modal__title title">Log in</p>
      <p class="login-modal__text">
        In order to manage your lists </br> you need to login to your account.
      </p>

      <form class="login-form" id="login-form">
        <input
          type="email"
          class="login-form__input"
          placeholder="Email"
          name="useremail"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          required
        />
        <div class="login-error-message" id="loginemail-error-message"></div>
        <input
          type="password"
          class="login-form__input"
          placeholder="Password"
          name="userpassword"
          minlength="8"
          required
        />
        <div class="login-error-message" id="loginpassword-error-message"></div>
        <button type="submit" class="login-modal__button btn login-modal__button--login">
          Log in
        </button>
      </form>
      <p class="login-modal__text">
        Don't have an account? Please register.
      </p>
      <button
        type="submit"
        class="login-modal__button login-modal__button--signup btn"
      signup-data-modal-open>
        Sign up
      </button>
    </div>
  </div>
</div>
