        <div class="footer-modal modal">
            <div class="footer-modal__container modal-bg">
                <div class="footer-modal__body">
                    <h3 class="footer-modal__team">S&M Coders</h3>
                    <button class="footer-modal__button-close modal-close" type="button">
                    <svg class="footer-modal__icon" width="15" height="15">
                    <use href="/src/images/sprite.svg#icon-close">
                    </use></svg>  
                    </button>  
                      <div class="mySwiper">
                        <div class="swiper-wrapper">
                <!-------------------------------------- Студент 1 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                              <img src="/src/images/Team-1-Andriy Samarin-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div> 
                            </div>
                            <p class="swiper__name">Andriy Samaryn</p>
                            <p class="swiper__subtitle">Team-lead</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/STIg89" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/andriy-samarin/" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Building project architecture, writing feh queries to the server, setting up pagination
                            </p></div>
                          </div>
                    <!-------------------------------------- Студент 2 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                              <img src="/src/images/Team-2-Halyna Kilbovych-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Halina Kilbovych</p>
                            <p class="swiper__subtitle">Scrum-master</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/HalynaKilbovych" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/halyna-kilbovych/" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Change the theme of the site s autosettings depending on the theme on your machine. Filter movies by genre.
                            </p></div>
                          </div>

                    <!-------------------------------------- Студент 3 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                            <img src="/src/images/Team-3-Iryna Grytsaenko-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Iryna Grytsaenko</p>
                            <p class="swiper__subtitle">Developer</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/Iryna-Gry" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/iryna-grytsaenko/" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Firebase login/signup, access to local storage depending on user login
                            </p></div>
                          </div>
                    <!-------------------------------------- Студент 4 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                              <img src="/src/images/Team-4-Victoria Bilauchuk-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Victoria Bilauchuk</p>
                            <p class="swiper__subtitle">Developer</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/VictoriaBil" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/victoria-bilauchuk-187442154" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Movie card layout, rendering of the main page of the site: uploading popular movies, 
                              movie card styles on the main page and their adaptive layout, adding logo animation and 
                              animation in the footer
                            </p></div>
                          </div>
                    <!-------------------------------------- Студент 5 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                    <img src="/src/images/Team-5-Andriy Demchenko -min.jpeg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Andriy Demchenko</p>
                            <p class="swiper__subtitle">Developer</h3>
                               <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/DemchenkoAndriy" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/andriy-demchenko-9aa711262" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Save movies to local storage and other features with local storage
                            </p></div>
                          </div>
                    <!-------------------------------------- Студент 6 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                    <img src="/src/images/Team-6-Svitlana Losieva-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Svitlana Losieva</p>
                            <p class="swiper__subtitle">Developer</h3>
                                 <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/atevsl" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/svitlana-losieva/" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Implementation of display search by keyword. Render Top Movies slider  using NPM-Swiper
                            </p></div>
                          </div>
               <!-------------------------------------- Студент 7 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                    <img src="/src/images/Team-7-Iryna Zaitseva-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Iryna Zaitseva</p>
                            <p class="swiper__subtitle">Developer</h3>
                                 <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/izaitseva" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/iryna-zaitseva/" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Developing the button's "Queue" functionality. Setting its CSS properties. Designed the "unavailable poster"
                            </p></div>
                          </div>
                        <!-------------------------------------- Студент 8 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                    <img src="/src/images/Team-8-Kateryna Vabishchevich-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Kateryna Vabishchevich</p>
                            <p class="swiper__subtitle">Developer</h3>
                                 <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/Kate-Vabishchevic" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/kateryna-vabishchevich/" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Implemented closing the modals windows by pressing the close button, the ESC key and by clicking outside the modal
                            </p></div>
                          </div>
                        <!-------------------------------------- Студент 9 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                    <img src="/src/images/Team-9-Zorkin Yevhen-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Zorkin Yevhen</p>
                            <p class="swiper__subtitle">Developer</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/zevgen83" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/yevhen-zorkin-b445b2262/" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Developing a loader for asynchronous commands, ScrollToUp button and a movie trailer display
                            </p></div>
                          </div>
                     <!-------------------------------------- Студент 10 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                    <img src="/src/images/Team-10-Alona Panchenko-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Alona Panchenko</p>
                            <p class="swiper__subtitle">Developer</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/Enotishche" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a>    
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="#" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li> 
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Layout and styling of the modal window with movie information, dynamic 
                              rendering of movie information and poster, closing the modal
                             window with movie information, animation of the logo in the header
                            </p></div>
                          </div>
                     <!-------------------------------------- Студент 11 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                    <img src="/src/images/Team-11-Oleh Baramykin-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Oleh Baramykin</p>
                            <p class="swiper__subtitle">Developer</h3>
                               <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/Oleh-Baramykin" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="#" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Assistance in pagination, backdrop style for modal window
                            </p></div>
                          </div>
                   <!-------------------------------------- Студент 12 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                    <img src="/src/images/Team-12-Serhii-Rymar-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Serhy Rymar</p>
                            <p class="swiper__subtitle">Developer</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/SerhyRymar" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="https://www.linkedin.com/in/serhy-rymar-a04ab1247/" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                 <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Layout style and slider connection of the command modal window
                            </p></div>
                          </div>
                   <!-------------------------------------- Студент 13 ------------------------------------->
                          <div class="swiper-slide swiper__item">
                            <div class='border__outside'>
                            <div class="swiper__img">
                    <img src="/src/images/Team-13-Anna Mantrova-min.jpg" alt="photo Stephanie Engle" width="120" height="120">
                            </div></div>
                            <p class="swiper__name">Аnna Mantrova</p>
                            <p class="swiper__subtitle">Developer</h3>
                                 <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="https://github.com/Mantrova" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-github"></use>
                                            </svg>   
                                        </a> 
                                    </li>
                                    <li class="swiper__soc-item"> 
                                        <a href="#" rel="noopener noreferrer" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="/src/images/sprite-footer.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class='swiper__text__container'>
                            <p class="swiper__text">
                              Header layout
                            </p></div>
                          </div>


                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                      </div>

    
                </div>
            </div>
        </div>