<div class="login-modal__backdrop is-hidden" signout-data-modal> <!-- is-hidden -->
    <div class="login__modal">
        <!-- add logo without link -->
        <button signout-data-modal-close class="login-modal__close-button btn" title="Close">
            <svg class="login-modal__svg">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-checkmark-wrapper">
            <!-- <svg class="modal-checkmark-success" width="100" height="100">
                <use href="./images/sprite.svg#icon-checkmark"></use>
            </svg> -->
      <p class="modal-checkmark-goodbye">👋</p>
    </div>
    <div class="goodbye-modal-text">Bye, see you soon!❤️</div>
  </div>
</div>
