<div class="backdrop is-hidden" data-modal>
  <div class="modal-movie">
    <button data-modal-close class="button-modal-movie--close">
      <!-- <svg class="close-svg" width="20" height="20">
        <use href="/src/images/sprite.svg#icon-close"></use>
      </svg> -->
    </button>
    <div class="modal-movie__content" data-id="0"></div>
  </div>
</div>

<!-- <button id="add-watched-btn" data-action="remove" type="button">
  Add to watched
</button> -->
<!-- <button class="add-queue-btn" type="button">Add to queue</button> -->
