        <div class="footer-modal modal">
            <div class="footer-modal__container">
                <div class="footer-modal__body">
                    <button class="footer-modal__button-close modal-close" type="button">
                    <svg class="footer-modal__icon" width="30" height="30">
                    <use href="/src/images/sprite.svg#icon-close">
                    </use></svg>  
                    </button>

                       <div class="mySwiper">
                        <div class="swiper-wrapper">

                          <div class="swiper-slide swiper__item">
                            <div class="swiper__img">
                              <img src="#" alt="photo Stephanie Engle" width="120" height="120">
                            </div>
                            <p class="swiper__name">Andriy Samaryn</p>
                            <p class="swiper__subtitle">Team-lead</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="#" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="#"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="swiper__soc-item">
                                        <a href="#" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="#"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            <p class="swiper__text">
                              “We love staying at Marina Bay Resort! It is prime property located on the sound! They
                              have a wonderful outdoor heated pool overlooking the sound and a great very large hot
                              tub in their courtyard. They have a game room. A nice place to stay and not
                              over-prices!”
                            </p>
                          </div>

                          <div class="swiper-slide swiper__item">
                            <div class="swiper__img">
                              <img src="#" alt="photo Stephanie Engle" width="120" height="120">
                            </div>
                            <p class="swiper__name">Andriy Samaryn</p>
                            <p class="swiper__subtitle">Team-lead</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="#" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="#"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="swiper__soc-item">
                                        <a href="#" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="#"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            <p class="swiper__text">
                              “We love staying at Marina Bay Resort! It is prime property located on the sound! They
                              have a wonderful outdoor heated pool overlooking the sound and a great very large hot
                              tub in their courtyard. They have a game room. A nice place to stay and not
                              over-prices!”
                            </p>
                          </div>

                          <div class="swiper-slide swiper__item">
                            <div class="swiper__img">
                            <img src="#" alt="photo Stephanie Engle" width="120" height="120">
                            </div>
                            <p class="swiper__name">Andriy Samaryn</p>
                            <p class="swiper__subtitle">Team-lead</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="#" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="#"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="swiper__soc-item">
                                        <a href="#" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="#"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            <p class="swiper__text">
                              “We love staying at Marina Bay Resort! It is prime property located on the sound! They
                              have a wonderful outdoor heated pool overlooking the sound and a great very large hot
                              tub in their courtyard. They have a game room. A nice place to stay and not
                              over-prices!”
                            </p>
                          </div>

                          <div class="swiper-slide swiper__item">
                            <div class="swiper__img">
                    <img src="#" alt="photo Stephanie Engle" width="120" height="120">
                            </div>
                            <p class="swiper__name">Andriy Samaryn</p>
                            <p class="swiper__subtitle">Team-lead</h3>
                                <ul class="swiper__soc-list list">
                                    <li class="swiper__soc-item">
                                        <a href="#" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="#"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="swiper__soc-item">
                                        <a href="#" class="swiper__link">
                                            <svg class="swiper__icon" width="30" height="30">
                                                <use href="#"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            <p class="swiper__text">
                              “We love staying at Marina Bay Resort! It is prime property located on the sound! They
                              have a wonderful outdoor heated pool overlooking the sound and a great very large hot
                              tub in their courtyard. They have a game room. A nice place to stay and not
                              over-prices!”
                            </p>
                          </div>



                        </div>
                        <div class="swiper-pagination-c"></div>
                        <div class="swiper-button-prev-c"></div>
                        <div class="swiper-button-next-c"></div>
                      </div>
                    </div>
                    </div>
                </div>

    
                </div>
            </div>
        </div>