<ul class="film-list"></ul>
<div id="tui-pagination-container" class="tui-pagination"></div>
<!-- <section class="main-page section">
  <div class="container first-page">
    <h2 class="visually-hidden">Popular films</h2>
    <form class="filter">
      <p class="filter-title">Popular movies:</p>
      <div class="pretty p-switch p-fill">
        <input
          class="filter-input"
          type="radio"
          name="switch"
          value="top_for_week"
          checked
        />
        <div class="state p-success">
          <label class="filter-label">top for week</label>
        </div>
      </div>
      <div class="pretty p-switch p-fill">
        <input
          class="filter-input"
          type="radio"
          name="switch"
          value="top_for_day"
        />
        <div class="state p-success">
          <label class="filter-label">top for day</label>
        </div>
      </div>
      <div class="pretty p-switch p-fill">
        <input
          class="filter-input"
          type="radio"
          name="switch"
          value="top_rated"
        />
        <div class="state p-success">
          <label class="filter-label">top rated</label>
        </div>
      </div>
      <div class="pretty p-switch p-fill">
        <input
          class="filter-input"
          type="radio"
          name="switch"
          value="new_films"
        />
        <div class="state p-success">
          <label class="filter-label">in cinema</label>
        </div>
      </div>
    </form>
    <ul class="film-list list"></ul>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section> -->
