<section class="topMovieGallery">
  <div class="swiper">
    <div class="swiper-wrapper"></div>
    <!-- <button class="swiper-button-next"></button>
    <button class="swiper-button-prev"></button> -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev" id="button-color"></div>
    <div class="swiper-button-next" id="button-color"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</section>
