.queue-btn, .watched-btn {
    height: 44px;
    width: 129.53px;
    border: 1px solid var(--white-text-color);
    background-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--white-text-color);
    cursor: pointer;
    height: 44px;
    width: 129.5px;
    

    @include font-box(500, 12px, 1.33, null);
    transition: color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic);

    @include tablet {
        width: 152px;
    }
    
    @include pc {
        width: 147px;
        height: 42px;
    }

    &:active {  
    background-color: var(--accent-text-color);
    color: var(--white-text-color);
    border: 1px solid var(--accentBG);
    
        @include font-box(500, 12px, 1.33, null);
        transition: color var(--duration) var(--cubic),
        background-color var(--duration) var(--cubic);
        
            &:hover,
            :focus {
                cursor: pointer;
            }

            &:disabled {
                background-color: var(--dark-text-color);
                color: var(--black-text-color);
            }
    }
    &:hover,
    &:focus {
        background-color: var(--accent-text-color);
        cursor: pointer;
    }

}

.add-queue-btn {
    height: 44px;
    width: 129.53px;
    border: 1px solid var(--black-text-color);
    background-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    color:var(--black-text-color);

    @include font-box(500, 12px, 1.33, null);
        transition: color var(--duration) var(--cubic),
        background-color var(--duration) var(--cubic);


    &:hover,
    &:focus {
        cursor: pointer;
        border: 1px solid var(--accentBG);
        color: var(--accentBG);
    }

    &:disabled {             
                color: var( --light-text-color);
                border: 1px solid var(--accentBG);
                height: 44px;
    }

    @include font-box(500, 12px, 1.33, null);
        transition: color var(--duration) var(--cubic),
        background-color var(--duration) var(--cubic);

        @include mobile {
            width: 110px;
        }
        
        @include tablet {
            width: 125.03px;
        }
        
        @include pc {
            width: 136px;
        }
}
