.queue-btn,
.watched-btn,
.btn {
  border: 1px solid var(--white-text-color);
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white-text-color);
  cursor: pointer;
  height: 44px;
  width: 130px;

  @include font-box(500, 12px, 1.33, null);
  transition: color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic);

  @include tablet {
    width: 152px;
  }

  @include pc {
    width: 147px;
    height: 42px;
  }

  &:active,
  &.activeLS {
    background-color: var(--accent-text-color);
    color: var(--white-text-color);
    border: 1px solid var(--accent-text-color);

    @include font-box(500, 12px, 1.33, null);
    transition: color var(--duration) var(--cubic),
      background-color var(--duration) var(--cubic);

    &:disabled {
      background-color: var(--dark-text-color);
      color: var(--black-text-color);
    }
  }
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    cursor: pointer;
    border-color: var(--accent-text-color);
  }
}

.add-queue-btn {
  height: 44px;
  width: 110px;
  border: 1px solid var(--accentBG);
  background-color: var(--accentBG);
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white-text-color);

  @include font-box(500, 12px, 1.33, null);
  transition: color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic);

  &:hover,
    &:focus {
      background-color: transparent;
      border: solid 1px var(--accent-text-color);
      cursor: pointer;
      color: var(--accent-text-color);
      box-shadow: 0 0 20px rgba(250, 119, 12, 0.897);
        transition: transform var(--cubic) var(--duration);
    }

  &:disabled {
    color: var(--light-text-color);
    border: 1px solid var(--accentBG);
    height: 44px;
  }

  @include font-box(500, 12px, 1.33, null);
  transition: color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic);

  @include mobile {
    width: 110px;
  }

  @include tablet {
    width: 125px;
  }

  @include pc {
    width: 136px;
  }
}
