.login-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity var(--duration) var(--cubic);
  background-color: var(--modal-overlay);
  overflow-y: scroll;
  backdrop-filter: blur(15px);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .login-modal {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.login__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--cubic);
  background-color: var(--lightBG);
  border: 2px solid var(--accentBG);
  padding: var(--Gap20);
  min-width: 280px;


  @include tablet {
    min-width: 380px;
    
  }
  @include pc{
    min-width: 450px;
  }
}

// upwards are the styles for modal javacript
.login-modal {
  &__logo {
    @include flex;
    justify-content: start;
    position: absolute;
    top:8;
    left: 8;
    @include tablet {
        top: 20;
        left: 20;
      }
    &--svg {
      width: 25px;
      height: 25px;
      color: var(--accent-text-color);
      stroke: currentColor;
      fill: currentColor;
    }
    &>p {
        @include font-box(400,20px,1.15,0);
        color: var(--accent-text-color);
    }
  }
  &__close-button.btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    color: var(--black-text-color);
    stroke: currentColor;
    fill: currentColor;
    border-color: transparent;
    transition: color var(--duration) var(--cubic);
    padding: 0;
    cursor: pointer;
    width: auto;
    height:auto;

    @include tablet {
      top: 20;
      right: 20;
    }

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  &__title {
    @include font-box(500, 20px, 1.15, null);
    color: var(--black-text-color);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
    text-transform: uppercase;
    @include pc {
      @include font-box(null, 30px, 1.16, null);
margin-top: 50px;
margin-bottom: 30px;
    }

    // @include pc {
    //   max-width: 500px;
    //   margin-left: auto;
    //   margin-right: auto;
    // }
  }

  &__svg {
    width: 20px;
    height: 20px;
  }

  &__text {
    @include font-box(500, 12px, 1.1, null);
    color: var(--black-text-color);
    margin-bottom: 10px;
    text-align: center;

    @include tablet {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
}

.login-form {
  width: 100%;
  margin-bottom: 20px;

  &__input {
    width: 100%;
 @include font-box(500,12px,1.15);
    background-color: var(--lightBG);
    border: transparent;
    border-bottom: 1px solid var(--accentBG);
outline: transparent;
    padding: 7px 12px;
    transition: border-color var(--duration) var(--cubic), outline var(--duration) var(--cubic);

    @include tablet {
      max-width: 368px;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 13px 20px;
      font-size: 14px;
    }

    &:focus {
      outline: 1px solid var(--accentBG);
      border-color: var(--accentBG);
    }

    &::placeholder {
      @include font-box(500, 12px, 1.4, null);
      color: var(--dark-text-color);

      @include tablet {
        font-size: 14px;
      }
  
    }
    &:not(:last-child) {
        margin-bottom: 12px;
        @include tablet {
          margin-bottom: var(--Gap20);
        }
    }
  }
}

.login-modal__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;

border: 1px solid var(--accentBG);
    &--login {
        background-color: var(--accent-text-color);
        color: var(--white-text-color);
            margin-bottom: var(--Gap20);
            &:hover,
            :focus {
                    background-color: transparent;
                    color: var(--accent-text-color);

                }
        }
    &--signup {
        color: var(--accent-text-color);
        &:hover,
            :focus {
                background-color: var(--accent-text-color);
                    color: var(--white-text-color);
            }
    }
}

