.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
  opacity: 1;
  backdrop-filter: blur(10px);
  transition: opacity var(--cubic) var(--duration);

  @include tablet {
    overflow-y: scroll;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .modal-movie {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal-movie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;

  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--modal-movie-bgc);

  transform: translate(-50%, -50%), scale(1);
  transition: transform var(--cubic) var(--duration);

  @include mobile {
    width: calc(100% - 40px);
    max-width: 440px;
  }

  @include tablet {
    width: 618px;
    height: auto;
    padding-top: 42px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
  }

  @include pc {
    width: 882px;
    height: auto;
    padding-top: 48px;
    padding-bottom: 41px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;

    @include pc {
      font-size: 30px;
      line-height: 1.16;
    }
  }

  &__content {
    @include tablet {
      display: flex;
    }
  }
}

.button-modal-movie--close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.movie-detail {
  display: grid;
  grid-template-columns: 375px 1fr;
  gap: 16px;
}

@media (max-width: 1199px) {
  .movie-detail {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .movie-detail {
    grid-template-columns: 1fr;
  }
}

.movie-detail__title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 20px;

  @include pc {
    font-size: 35px;
    margin-bottom: 60px;
  }
}

.movie-detail__subtitle {
  color: var(--light-text-color);
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  @include pc {
    font-size: 17px;
  }
}

.movie-detail__img {
  border-radius: 5px;
}

.movie-detail__text {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;

  @include pc {
    font-size: 20px;
    line-height: 1.16;
    font-weight: 400;
  }
}

.movie-detail__heading {
  color: var(--light-text-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  @include pc {
    font-size: 17px;
  }
}

.movie-detail__list {
  margin-bottom: 20px;
}

.movie-detail__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.movie-detail__item ~ .movie-detail__item {
  margin-top: 8px;
}

.movie-detail__value {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;

  @include pc {
    font-size: 17px;
  }
}

.modal-movie {
  max-height: 90vh;
}

.movie-detail__value span {
  background-color: var(--accent-text-color);
  border-radius: 5px;
  padding: 1px 3px 1px 3px;
}

.movie-detail__btns {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
  gap: 15px;
}

.movie-detail__btn-main {
  background-color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--white-text-color);
  cursor: pointer;
  height: 44px;
  width: 110px;

  @include font-box(500, 12px, 1.33, null);
  transition: color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic);

  @include tablet {
    width: 125px;
  }

  @include pc {
    width: 136px;
    height: 42px;
  }

  // &:active,
  // .activeLS {
  //   background-color: transparent;
  //   color: var(--black-text-color);

  // @include font-box(500, 12px, 1.33, null);
  // transition: color var(--duration) var(--cubic),
  //   background-color var(--duration) var(--cubic);

  // &:disabled {
  //   background-color: var(--dark-text-color);
  //   color: var(--black-text-color);
  // }

  &:hover,
  &:focus {
    background-color: transparent;
    border: solid 1px var(--accent-text-color);
    cursor: pointer;
    color: var(--accent-text-color);
    box-shadow: 0 0 20px rgba(250, 119, 12, 0.897);
    transition: transform var(--cubic) var(--duration);
  }
}

// .add-to-watched-btn:hover,
// .add-to-watched-btn:focus,
// .add-queue-btn:hover,
// .add-queue-btn:focus{
//   border: solid 1px var(--accentBG);
//   background-color: var(--accentBG);
//   color: var(--white-text-color);
// }

// .movie-detail__btn-secondary {
//   padding: 13px 14px;
//   background: transparent;
//   border-radius: 5px;
//   color: var(--black-text-color);
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 16px;
//   border: 2px solid var(--accentBG);
// }

.button-modal-movie--close {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-modal-movie--close::after,
.button-modal-movie--close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 18px;
  height: 2px;
  background-color: var(--accentBG);
  content: '';
}

.button-modal-movie--close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

// .close-svg {
//   fill: red;
//   width: 20px;
// }

// .button-modal-movie--close {
//   display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
//     top: 8px;
//     right: 8px;
//     width: 30px;
//     height: 30px;
//     border-radius: 5px;
//     background: #FFFFFF;
//     border: 0px solid rgba(0, 0, 0, 0.1);
//     box-sizing: border-box;
//     cursor: pointer;
//   }
