.movie__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--Gap20);

  @include tablet {
    gap: calc(var(--Gap16) * 2);
  }

  @include pc {
    gap: calc(var(--Gap16) * 2) calc(var(--Gap16));
  }
}
