.movie__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: transform 0.5s;

  @include tablet {
    width: calc((100% - var(--Gap16) * 2) / 2);
  }

  @include pc {
    width: calc((100% - var(--Gap16) * 2) / 3);
  }
}

.movie__item:hover {
  transform: scale(1.03);
  transition: 500ms linear;
  cursor: pointer;
}

.movie__img {
  border-radius: 5px;
  object-fit: cover;
  filter: drop-shadow(4px 4px 4px rgba(55%, 55%, 55%, 0.6));
  box-shadow: 0 0 20px rgba(55%, 55%, 55%, 0.5);

  @include tablet {
    height: 495px;
  }

  @include pc {
    height: 634px;
  }
}

.movie__img:hover {
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(250, 119, 12, 0.897);
}

.movie__container {
  flex-grow: 1;
}

.movie__description {
  margin-top: 12px;
}

.movie__title {
  color: var(--black-text-color);
  font-weight: 500;
  text-transform: uppercase;

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
  }
}

.movie__meta {
  display: flex;
  align-items: baseline;
  gap: 8px;
  color: var(--accent-text-color);
  font-weight: 500;

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 1.33;
  }
}

.movie__rate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  background-color: var(--accent-text-color);
  color: var(--white-text-color);

  @media screen and (max-width: 768px) {
    width: 36px;
    height: 16px;
  }
}
