.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 15px solid rgb(20, 18, 18);
    border-radius: 50%;
    border-top-color: var(--accentBG);
    animation: 1s spin infinite linear;
  }
  .hide {
    display: none;
  }
  
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }