.basicLightbox__placeholder > iframe {
    width: 300px;
    height: 270px;
  
    @include tablet {
      width: 660px;
      height: 370px;
    }
  
    @include pc {
      width: 850px;
      height: 470px;
    }
  }

.close-btn-trailer {
    cursor: pointer;
    position: absolute;
    top: -39px;
    right: 150px;
    padding: 10px;
  @include tablet {
      top: -43px;
      right: 5px;
    }
}