.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  background-color: var(--lightBG);
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  @include mobile {
    display: block;
    text-align: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    width: 320px;
    height: 40px;
  }

  @include tablet {
  }

  @include pc {
  }
}

.footer__container__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  color: var(--dark-text-colort);
}

.footer__container__icon {
  justify-content: center;
  align-items: stretch;
}

.footer__container__refs{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  color: var(--dark-text-colort);
  text-decoration: underline;
}
