.footer {
  display: flex;
  justify-content: center;
  background: var(--lightBG);
  padding-top: 29px;
  padding-bottom: 29px;
  
  &__text {
  max-width: 240px;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  color: var(--dark-text-color);
  @include tablet {
    max-width: 100%;
    line-height: 1.14em;
  }
}

  &__icon {
    width: 14px;
    height: 13px;
}

}
.footer__text__students {

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  color: var(--dark-text-color);
  text-decoration: underline;
  cursor: pointer;

}