.header-main{
  background: url("../images/background-mobile.jpg");
  @include bg; 
  padding-top: 40px; 
  padding-bottom: 92px;
  @include retina { 
    background: url ("../images/background-mobile@2x.jpg");
  }
  
  @include tablet { 
      background: url("../images/background-tablet.jpg"); 
      @include bg; 
      padding-bottom: 70px;
      @include retina { 
        background: url("../images/background-tablet@2x.jpg");
      }
  }
  @include pc { 
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/background-pc.jpg");
      @include bg; 
      padding-bottom: 80px;

      @include retina { 
        background: url("../images/background-pc@2x.jpg");
      }
  }
}
.page-navigation {
  @include flex; 
  justify-content: space-between;
  gap: 90px;
}
.header-logo-link {
  @include tablet { 
    @include flex;
    gap: 10px;
  }
}
.pheader {
    @include font ($fw: 500, $fs: 30, $lh: 35, $ls: 0.02);
    color: var(--white-text-color);
    display: none;
    @include tablet { 
      display: flex; 
    }
}
.menu {
  @include flex;
  gap: 30px;
}

.menu__link {
  @include font ($fw: 500, $fs: 12, $lh: 14, $ls: 0.02);
  color: var(--white-text-color);
  text-transform: uppercase;
}
.menu__link_current {
  border-bottom: 3px solid #FF001B;;
}
.search-form { 
  @include flex;
  border-bottom: 0.5px solid #FFFFFF;
}
.search { 
  margin-top: 57px;
  @include tablet { 
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}
.search-input{
  background: transparent;
  border: 0;
  @include tablet { 
    width: 330px;
    margin: 0 auto;
  }
}
.searchBtn {
  border: 0;
  padding-bottom: 4px;
  background: transparent;
}
.search-form  ::placeholder{
  @include font ($fw: 400, $fs: 14, $lh: 16, $ls: 0.03);
    color: var(--white-text-color);
}
.searchBtn {
  @include flex; 
  fill: var(--white-text-color);
}

