.swiper {
  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    width: 768px;
    padding: 0 32px;
  }

  @include pc {
    width: 1280px;
  }
}

.topMovieGallery_slide {
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 2px;
}
.topMovie_container {
  flex-grow: 1;
  @include mobile {
    max-width: 120px;
    max-height: 180px;
  }

  @include tablet {
    width: 160px;
    height: 265px;
  }

  @include pc {
    width: 240px;
    height: 350px;
  }
}
.topMovieGallery-caption {
  color: var(--accent-text-color);
  text-align: center;
}
.swiper-wrapper {
  transition-timing-function: linear;
}
